
@section RenderScriptWithPage
    {
    <script src="~/lib/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="~/lib/dropify/dropify.min.js"></script>
    <script>
        $(document).ready(function () {
            $("body").addClass("noscroll");

            $('.dropdown-menu select.test').on("click", function (e) {
                $(this).next('ul').toggle();
                e.stopPropagation();
                e.preventDefault();
            });
        });

        (function ($) {
            'use strict';
            $('.dropify').dropify();
        })(jQuery);

        (function ($) {
            if ($("#datepicker-popup").length) {
                $('#datepicker-popup').datepicker({
                    enableOnReadonly: true,
                    todayHighlight: true,
                    autoclose: true
                });
            }
            if ($("#datepicker-popup-1").length) {
                $('#datepicker-popup-1').datepicker({
                    enableOnReadonly: true,
                    todayHighlight: true,
                    autoclose: true
                });
            }
        })(jQuery);

        var $table = $('table.scroll'),
            $bodyCells = $table.find('tbody tr:first').children(),
            colWidth;

        // Adjust the width of thead cells when window resizes
        $(window).resize(function () {
            // Get the tbody columns width array
            colWidth = $bodyCells.map(function () {
                return $(this).width();
            }).get();

            // Set the width of thead columns
            $table.find('thead tr').children().each(function (i, v) {
                $(v).width(colWidth[i]);
            });
        }).resize(); // Trigger resize handler

        $('#exampleModal').modal('show');

        function modalcustom() {
            $('#exampleModal-2').modal('show');
        }

        function modaladd() {
            $('#exampleModal-4').modal('show');
        }

        function modalproductadd() {
            $('#exampleModal-5').modal('show');
        }

        function modaltax() {
            $('#exampleModal-3').modal('show');
        }
        function modalproductsearch() {
            $('#exampleModal-6').modal('show');
        }
        function modalreceipt() {
            $('#exampleModal-7').modal('show');
        }
    </script>

}

<link href="~/lib/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" />
<title>หัก ณ ที่จ่าย | WeAccount</title>
<!-- Dummy Modal Ends -->
<!-- Main Modal starts -->
<div class="modal fade pr-0 modal-noscroll" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog-full modal-full" role="document">
        <div class="modal-content-full">
            <div class="modal-header-full d-flex">
                <div class="modal-header-title">
                    <h5 class="modal-title-full"><i class="fa fa-file-text-o f-1-0 mr-2 text-primary"></i>สร้างหัก ณ ที่จ่าย</h5>
                    <h5 class="modal-subtitle-full text-primary f-1-6 aksorn">EXP20200600001</h5>
                    <button type="button" class="btn btn-gray btn-fw aksorn f-1-0 px-3" style="cursor:default">รอดำเนินการ</button>
                </div>
                <div class="modal-header-button">
                    <a href="@Url.Content("~/")DocumentExpenses/Expenses" class="btn btn-inverse-light btn-fw aksorn f-1-2" onclick="onclickclose()">ปิดหน้าต่าง</a>
                    <div class="btn-group">
                        <button type="button" class="btn btn-success  aksorn f-1-2">บันทึกเอกสาร</button>
                        <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" id="dropdownMenuSplitButton3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu border-fix" aria-labelledby="dropdownMenuSplitButton3">
                            <a class="dropdown-item  aksorn f-1-0">บันทึกแล้วปิด</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body-full">
                <div class="row ">
                    <div class="col-lg-12  grid-margin stretch-card ">
                        <div class="card card-weaccount border-fix-table scroll-modal  ">
                            <div class="card-table search-table-outter p-4 pb-5">
                                <!-- Hedear Start-->
                                <div class="row-modal">
                                    <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1" class="aksorn f-1-0">ชื่อผู้จำหน่าย</label>
                                            <div class="input-group ">
                                                <input type="text" class="form-control aksorn f-1-0" placeholder="เลือกรายชื่อผู้จำหน่าย" aria-label="Username" disabled>
                                                <div class="dropdown">
                                                    <div class="input-group-append bg-primary cursor-pointer " id="dropdownMenuIconButton6" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <span class="input-group-text bg-transparent px-2 "><i class="  icon-user-follow text-white"></i></span>
                                                        <div class="dropdown-menu border-fix" aria-labelledby="dropdownMenuIconButton6">
                                                            <a class="dropdown-item aksorn f-1-0 text-primary" onclick="modalcustom()"><i class="icon-magnifier mr-2 "></i>ค้นหาจากสมุดรายชื่อ</a>
                                                            <a class="dropdown-item aksorn f-1-0 text-primary" onclick="modaladd()"><i class="icon-user-follow mr-2 "></i>เพิ่มรายชื่อผู้ติดต่อ</a>
                                                            <a class="dropdown-item aksorn f-1-0 text-primary" onclick="modaltax()"><i class="icon-book-open mr-2 "></i>ค้นหาข้อมูลจากฐานข้อมูลกรมสรรพากร</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1" class="aksorn f-1-0">รายละเอียด</label>
                                            <textarea rows="4" class="form-control h-25 mb-1" id="exampleInputEmail1" placeholder="รายละเอียดที่อยู่"></textarea>
                                            <input type="text" class="form-control mb-1" id="exampleInputEmail1" placeholder="เลขที่ประจำตัวผู้เสียภาษี">
                                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="สำนักงาน/สาขาเลขที่">
                                        </div>
                                    </div>
                                    <div class="col-lg-4  col-md-6 col-sm-12 col-12 ml-auto text-right">
                                        <button class="modal-option-item  cursor-pointer">
                                            <a class="modal-option-link ">
                                                <i aria-hidden="true" class="fa fa-print"></i>
                                                <span class="aksorn f-0-8">พิมพ์เอกสาร</span>
                                            </a>
                                        </button>
                                        <button class="modal-option-item  cursor-pointer">
                                            <a class="modal-option-link ">
                                                <i aria-hidden="true" class="fa fa-download"></i>
                                                <span class="aksorn f-0-8">ดาวน์โหลด</span>
                                            </a>
                                        </button>
                                        <div class="form-group text-left">
                                            <div class="  row my-2 ">
                                                <label for="exampleInputEmail1" class="aksorn-Bold f-1-0">จำนวนเงิน (ไม่รวมภาษี)</label>
                                            </div>
                                            <div class=" row my-2">
                                                <h5 class="modal-subtitle-full f-2-0 aksorn">0.00</h5>
                                            </div>
                                            <div class="  row my-2 ">
                                                <label for="exampleInputEmail1" class="aksorn-Bold f-1-0">ภาษีที่หัก</label>
                                            </div>
                                            <div class=" row my-2">
                                                <h5 class="modal-subtitle-full text-primary f-2-0 aksorn">0.00</h5>
                                            </div>
                                            <div class="form-group row my-2 ">
                                                <label for="exampleInputEmail2" class="col-sm-4 col-form-label aksorn pl-0 f-1-0">วันที่ : </label>
                                                <div class="col-sm-8">
                                                    <input type="email" class="form-control" id="exampleInputEmail2" value="01-01-2020" placeholder="DD/MM/YYYY">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Hedear End-->
                                <hr>
                                <!-- Detail Start-->
                                <div class="row-modal">
                                    <div class="col-lg-4">
                                        <div class="form-group row ">
                                            <label for="exampleInputEmail2" class="col-sm-4 col-form-label aksorn f-1-0">แบบฟอร์ม : </label>
                                            <div class="col-sm-8">
                                                <select class="form-control" id="exampleFormControlSelect2">
                                                    <option>-- กรุณาเลือก --</option>
                                                    <option>ภงด 3</option>
                                                    <option>ภงด 53</option>
                                                    <option>ภงด 1ก</option>
                                                    <option>ภงด 1ก (พิเศษ)</option>
                                                    <option>ภงด 2</option>
                                                    <option>ภงด 2ก</option>
                                                    <option>ภงด 3ก</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="form-group row ">
                                            <label for="exampleInputEmail2" class="col-sm-5 col-form-label aksorn f-1-0">ระบุปี : </label>
                                            <div class="col-sm-7">
                                                <input type="email" class="form-control" id="exampleInputEmail2" placeholder="โปรดระบุ">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Table Start-->
                                <div class="row-modal">
                                    <div class="card card-weaccount border-fix-table w-100 ">
                                        <div class="card-table search-table-outter table-responsive ">
                                            <table class="table aksorn s-table">
                                                <thead class="badge-softblue">
                                                    <tr>
                                                        <th width="5%" class="aksorn f-1-0 text-center">ลำดับ</th>
                                                        <th width="40%" class="aksorn f-1-0">ประเภทเงินได้ที่จ่าย</th>
                                                        <th width="10%" class="aksorn text-center f-1-0">อัตราภาษีที่หัก</th>
                                                        <th width="10%" class="aksorn text-center f-1-0">จำนวนเงิน</th>
                                                        <th width="20%" class="aksorn text-left f-1-0">ภาษีมูลค่าเพิ่ม</th>
                                                        <th width="5%" class="aksorn f-1-0"></th>
                                                    </tr>
                                                </thead>
                                                <tbody class="">
                                                    <tr>
                                                        <td width="10%" class="text-center">
                                                            <p class="f-1-0">1</p>
                                                        </td>
                                                        <td width="40%">
                                                            <p class="f-1-0">1. เงินเดือน ค่าจ้าง เบี้ยเลี้ยง โบนัส ฯลฯ ตามมาตรา 40 (1)</p>
                                                        </td>
                                                        <td width="10%" class="text-right">
                                                            <select class="form-control" id="exampleFormControlSelect2">
                                                                <option>5%</option>
                                                                <option>3%</option>
                                                                <option>0.5%</option>
                                                                <option>0.75%</option>
                                                                <option>1%</option>
                                                                <option>1.5%</option>
                                                                <option>2%</option>
                                                                <option>10%</option>
                                                                <option>15%</option>
                                                            </select>
                                                        </td>
                                                        <td width="10%" class="text-left">
                                                            <input type="text" class="form-control text-right" id="exampleInputEmail2" placeholder="" value="0.00">
                                                        </td>
                                                        <td width="20%" class="text-right">
                                                            <select class="form-control" id="exampleFormControlSelect2">
                                                                <option>ไม่รวมภาษีมูลค่าเพิ่ม</option>
                                                                <option>รวมภาษีมูลค่าเพิ่ม</option>
                                                                <option>ไม่มี/ยกเว้นภาษีมูลค่าเพิ่ม</option>
                                                            </select>
                                                        </td>
                                                        <td width="5%" class="text-center">
                                                            <div class="row">
                                                                <div class="col-12 ">
                                                                    <div class="dropdown">
                                                                        <button type="button" class="btn btn-light mb-2 icon-btn dropdown-toggle-split p-2" id="dropdownMenuIconButton3">
                                                                            <i class="fa fa-trash-o"></i>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <td width="10%" class="text-center">
                                                            <div class="row">
                                                                <div class="col-12">

                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td width="40%">
                                                            <div class="row">
                                                                <div class="col-12">
                                                                    <select class="form-control" id="exampleFormControlSelect2">
                                                                        <option>-- กรุณาเลือก --</option>
                                                                        <option>1. เงินเดือน ค่าจ้าง เบี้ยเลี้ยง โบนัส ฯลฯ ตามมาตรา 40 (1)</option>
                                                                        <option>2. ค่าธรรมเนียม ค่านายหน้า ฯลฯ ตามมาตรา 40 (2)</option>
                                                                        <option>3. ค่าแห่งลิขสิทธิ์ ฯลฯ ตามมาตรา 40(3)</option>
                                                                        <option>4. (ก) ค่าดอกเบี้ย ฯลฯ ตามมาตรา 40(4) (ก)</option>
                                                                        <option>4. (ข)(1.1) กิจการที่ต้องเสียภาษีเงินได้นิติบุคคลในอัตราร้อยละ 25 ของกำไรสุทธิ</option>
                                                                        <option>4. (ข)(1.2) กิจการที่ต้องเสียภาษีเงินได้นิติบุคคลในอัตราร้อยละ 20 ของกำไรสุทธิ</option>
                                                                        <option>4. (ข)(1.3) กิจการที่ต้องเสียภาษีเงินได้นิติบุคคลในอัตราอื่น ของกำไรสุทธิ (กรุณาระบุ)</option>
                                                                        <option>4. (ข)(2.1) กำไรสุทธิของกิจการที่ได้รับยกเว้นเงินได้นิติบุคคล</option>
                                                                        <option>4. (ข)(2.2) เงินปันผลหรือเงินส่วนแบ่งของกำไรที่ได้รับยกเว้น...</option>
                                                                        <option>4. (ข)(2.3) กำไรสุทธิส่วนที่ได้หักผลขาดทุนสิทธิยกมาไม่เกิน 5 ปี...</option>
                                                                        <option>4. (ข)(2.4) กำไรที่รับรู้ทางบัญชีโดยวิธีส่วนได้เสีย (equity method)</option>
                                                                        <option>4. (ข)(2.5) อื่นๆ (กรุณาระบุ)</option>
                                                                        <option>5. การจ่ายเงินได้ที่ต้องหักภาษี ณ ที่จ่ายตามคำสั่งกรมสรรพากร....</option>
                                                                        <option>6. อื่นๆ (กรุณาระบุ)</option>
                                                                    </select>
                                                                </div>
                                                                <div class="col-12">
                                                                    <div class="input-group">
                                                                        <input type="text" class="form-control aksorn f-1-0" placeholder="รายละเอียด" aria-label="Username">
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </td>
                                                        <td width="10%" class="text-center">
                                                            <select class="form-control" id="exampleFormControlSelect2">
                                                                <option>5%</option>
                                                                <option>3%</option>
                                                                <option>0.5%</option>
                                                                <option>0.75%</option>
                                                                <option>1%</option>
                                                                <option>1.5%</option>
                                                                <option>2%</option>
                                                                <option>10%</option>
                                                                <option>15%</option>
                                                            </select>
                                                        </td>
                                                        <td width="10%" class="text-right">
                                                            <input type="email" class="form-control text-right" id="exampleInputEmail2" placeholder="" value="0.00">
                                                        </td>
                                                        <td width="20%" class="text-left">
                                                            <select class="form-control" id="exampleFormControlSelect2">
                                                                <option>ไม่รวมภาษีมูลค่าเพิ่ม</option>
                                                                <option>รวมภาษีมูลค่าเพิ่ม</option>
                                                                <option>ไม่มี/ยกเว้นภาษีมูลค่าเพิ่ม</option>
                                                            </select>
                                                        </td>
                                                        <td width="5%" class="text-center">
                                                            <div class="row">
                                                                <div class="col-12 ">
                                                                    <div class="dropdown">
                                                                        <button type="button" class="btn btn-light mb-2 icon-btn dropdown-toggle-split p-2" id="dropdownMenuIconButton3">
                                                                            <i class=" icon-plus"></i>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <!-- Table End-->
                                <!-- Detail End-->
                                <!-- Footer Start-->
                                <div class="row-modal mt-5">
                                    <div class="col-lg-5 col-md-6 col-sm-12 col-12 ml-auto">
                                        <div class="form-group row ">
                                            <label for="exampleInputEmail2" class="col-sm-6 col-form-label aksorn f-1-0 text-primary">จำนวนเงิน (ไม่รวมภาษี)</label>
                                            <div class="col-sm-6 text-right">
                                                <label for="exampleInputEmail2" class="col-sm-4 col-form-label aksorn-Bold f-1-0">0.00</label>
                                            </div>
                                            <label for="exampleInputEmail2" class="col-sm-6 col-form-label aksorn f-1-0  text-primary">ภาษีมูลค่าเพิ่ม 7%</label>
                                            <div class="col-sm-6 text-right">
                                                <label for="exampleInputEmail2" class="col-sm-6 col-form-label aksorn-Bold f-1-0">0.00</label>
                                            </div>
                                            <label for="exampleInputEmail2" class="col-sm-6 col-form-label aksorn f-1-0  text-primary">จำนวนเงิน</label>
                                            <div class="col-sm-6 text-right">
                                                <label for="exampleInputEmail2" class="col-sm-6 col-form-label aksorn-Bold f-1-0">0.00</label>
                                            </div>
                                            <label for="exampleInputEmail2" class="col-sm-6 col-form-label aksorn f-1-0  text-primary">ภาษีที่หัก</label>
                                            <div class="col-sm-6 text-right">
                                                <label for="exampleInputEmail2" class="col-sm-6 col-form-label aksorn-Bold f-1-0">0.00</label>
                                            </div>
                                            <label for="exampleInputEmail2" class="col-sm-6 col-form-label aksorn f-1-0  text-primary">ยอดชำระ</label>
                                            <div class="col-sm-6 text-right">
                                                <label for="exampleInputEmail2" class="col-sm-6 col-form-label aksorn-Bold f-1-0">0.00</label>
                                            </div>
                                        </div>
                                        <hr class=" hr-subtitle">
                                    </div>
                                </div>
                                <!-- Footer End-->
                                <!-- Payer Start-->
                                <div class="card card-weaccount border-fix-table mt-5">
                                    <div class="card-table search-table-outter px-4 pt-1 pb-0">
                                        <div class="form-group row ">
                                            <label for="exampleInputEmail2" class="col-sm-12 col-form-label aksorn f-1-0">ผู้จ่ายเงิน:</label>
                                            <div class="col-sm-12">
                                                <div class="row-modal">
                                                    <div class="col-sm-2 pl-0">
                                                        <div class="form-radio aksorn">
                                                            <label class="form-check-label f-1-0">
                                                                <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios1" value="" checked="">
                                                                ภาษีหัก ณ ที่จ่าย
                                                                <i class="input-helper"></i>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-2 pl-0">
                                                        <div class="form-radio aksorn">
                                                            <label class="form-check-label f-1-0">
                                                                <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios1" value="" checked="">
                                                                ออกภาษีให้ตลอดไป
                                                                <i class="input-helper"></i>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-2 pl-0">
                                                        <div class="form-radio aksorn">
                                                            <label class="form-check-label f-1-0">
                                                                <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios1" value="" checked="">
                                                                ออกภาษีให้ครั้งเดียว
                                                                <i class="input-helper"></i>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-1 pl-0">
                                                        <div class="form-radio aksorn">
                                                            <label class="form-check-label f-1-0">
                                                                <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios1" value="" checked="">
                                                                อื่นๆ
                                                                <i class="input-helper"></i>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-2 pl-0 mt-2">
                                                        <input type="text" class="form-control aksorn f-1-0" placeholder="โปรดระบุ" aria-label="Username">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- PayerEnd -->
                                <!-- Provident Fund Start-->
                                <div class="card card-weaccount border-fix-table">
                                    <div class="card-table search-table-outter px-4 pt-1 pb-0">
                                        <div class="form-group row ">
                                            <label for="exampleInputEmail2" class="col-sm-12 col-form-label aksorn f-1-0">เงินที่ต้องจ่ายเข้ากองทุนสำรองเลี้ยงชีพ</label>
                                                <label for="exampleInputEmail2" class="col-sm-2 col-form-label aksorn f-1-0  ">ใบอนุญาตเลขที่:</label>
                                                <div class="col-sm-2 text-right">
                                                    <input type="text" class="form-control aksorn f-1-0" placeholder="" aria-label="Username">
                                                </div>
                                                <label for="exampleInputEmail2" class="col-sm-2 col-form-label aksorn f-1-0  ">จำนวนเงิน:</label>
                                                <div class="col-sm-2 text-right">
                                                    <input type="text" class="form-control aksorn f-1-0" placeholder="0.00 บาท" aria-label="Username">
                                                </div>
                                                <label for="exampleInputEmail2" class="col-sm-2 col-form-label aksorn f-1-0  ">กองทุนประกันสังคม:</label>
                                                <div class="col-sm-2 text-right">
                                                    <input type="text" class="form-control aksorn f-1-0" placeholder="0.00 บาท" aria-label="Username">
                                                </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Provident Fund -->
                                <div class="row-modal mt-5">
                                    <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                                        <div class="form-group row ">
                                            <label for="exampleInputEmail1" class="aksorn f-1-0">หมายเหตุ</label>
                                            <textarea rows="4" class="form-control h-25" id="exampleInputEmail1" placeholder=""></textarea>
                                        </div>
                                        <div class="form-group row ">
                                            <label for="exampleInputEmail1" class="aksorn f-1-0">โน้ตภายในบริษัท</label>
                                            <textarea rows="4" class="form-control h-25" id="exampleInputEmail1" placeholder=""></textarea>
                                        </div>
                                        <div class="form-check aksorn text-primary f-1-2">
                                            <label class="form-check-label f-1-0">
                                                <input type="checkbox" class="form-check-input" checked>
                                                ลายเซ็นอิเล็กทรอนิกส์และตรายาง
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main Modal Ends -->
<!-- Customer Modal starts -->
<div class="modal fade" id="exampleModal-2" tabindex="-1" data-keyboard="false" role="dialog" aria-labelledby="exampleModalLabel-2" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-subtitle-full text-primary f-1-6 aksorn">ค้นหาข้อมูลรายละเอียดจากสมุดรายชื่อ</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row-modal mb-3">
                    <div class="col-lg-10 pl-0">
                        <div class="form-group row-modal text-left ">
                            <label for="exampleInputEmail2" class="col-sm-2 pl-0 col-form-label aksorn f-1-0">ค้นหา : </label>
                            <div class="col-sm-10 pl-0">
                                <input type="email" class="form-control" id="exampleInputEmail2" placeholder="พิมพ์รหัสผู้จำหน่าย , ชื่อผู้จำหน่าย , เลขประจำตัวผู้เสียภาษี ตัวอย่างเช่น 'We Develop หรือ 00177422145'">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 pl-0">
                        <button type="button" class="btn btn-outline-primary aksorn f-1-0 btn-block"><i class="fa fa-search f-0-8"></i>ค้นหา</button>
                    </div>
                </div>
                <div class="row-modal ">
                    <div class="col-lg-12  grid-margin stretch-card pl-0 ">
                        <!-- Table Start-->
                        <div class="card card-weaccount border-fix-table w-100 ">
                            <div class="card-table search-table-outter table-responsive h-500px">
                                <table class="table aksorn  s-table">
                                    <thead class="badge-softblue">
                                        <tr>
                                            <th width="15%" class="aksorn f-1-0">เลขที่ผู้เสียภาษี</th>
                                            <th width="10%" class="aksorn f-1-0">รหัสผู้จำหน่าย</th>
                                            <th width="20%" class="aksorn f-1-0">ชื่อผู้จำหน่าย</th>
                                            <th width="10%" class="aksorn f-1-0">สาขา</th>
                                            <th width="20%" class="aksorn f-1-0">ที่อยู่</th>
                                            <th width="15%" class="aksorn f-1-0"></th>
                                        </tr>
                                    </thead>
                                    <tbody class="">
                                        <tr>
                                            <td>
                                                <p class="f-1-0">0107555000406</p>
                                            </td>
                                            <td>
                                                <p class="f-1-0">001</p>
                                            </td>
                                            <td>
                                                <p class="f-1-0">บริษัท เมืองไทยประกันชีวิต จำกัด (มหาชน)</p>
                                            </td>
                                            <td>
                                                <p class="f-1-0">00002</p>
                                            </td>
                                            <td>
                                                <p class="f-1-0">835 ถนนมิตรภาพ ตำบลในเมือง อำเภอเมืองพิษณุโลก พิษณุโลก 65000</p>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-outline-primary aksorn f-1-0 btn-block">เลือก</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p class="f-1-0">0107555000406</p>
                                            </td>
                                            <td>
                                                <p class="f-1-0">001</p>
                                            </td>
                                            <td>
                                                <p class="f-1-0">บริษัท เมืองไทยประกันชีวิต จำกัด (มหาชน)</p>
                                            </td>
                                            <td>
                                                <p class="f-1-0">00002</p>
                                            </td>
                                            <td>
                                                <p class="f-1-0">835 ถนนมิตรภาพ ตำบลในเมือง อำเภอเมืองพิษณุโลก พิษณุโลก 65000</p>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-outline-primary aksorn f-1-0 btn-block">เลือก</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p class="f-1-0">0107555000406</p>
                                            </td>
                                            <td>
                                                <p class="f-1-0">001</p>
                                            </td>
                                            <td>
                                                <p class="f-1-0">บริษัท เมืองไทยประกันชีวิต จำกัด (มหาชน)</p>
                                            </td>
                                            <td>
                                                <p class="f-1-0">00002</p>
                                            </td>
                                            <td>
                                                <p class="f-1-0">835 ถนนมิตรภาพ ตำบลในเมือง อำเภอเมืองพิษณุโลก พิษณุโลก 65000</p>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-outline-primary aksorn f-1-0 btn-block">เลือก</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p class="f-1-0">0107555000406</p>
                                            </td>
                                            <td>
                                                <p class="f-1-0">001</p>
                                            </td>
                                            <td>
                                                <p class="f-1-0">บริษัท เมืองไทยประกันชีวิต จำกัด (มหาชน)</p>
                                            </td>
                                            <td>
                                                <p class="f-1-0">00002</p>
                                            </td>
                                            <td>
                                                <p class="f-1-0">835 ถนนมิตรภาพ ตำบลในเมือง อำเภอเมืองพิษณุโลก พิษณุโลก 65000</p>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-outline-primary aksorn f-1-0 btn-block">เลือก</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p class="f-1-0">0107555000406</p>
                                            </td>
                                            <td>
                                                <p class="f-1-0">001</p>
                                            </td>
                                            <td>
                                                <p class="f-1-0">บริษัท เมืองไทยประกันชีวิต จำกัด (มหาชน)</p>
                                            </td>
                                            <td>
                                                <p class="f-1-0">00002</p>
                                            </td>
                                            <td>
                                                <p class="f-1-0">835 ถนนมิตรภาพ ตำบลในเมือง อำเภอเมืองพิษณุโลก พิษณุโลก 65000</p>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-outline-primary aksorn f-1-0 btn-block">เลือก</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p class="f-1-0">0107555000406</p>
                                            </td>
                                            <td>
                                                <p class="f-1-0">001</p>
                                            </td>
                                            <td>
                                                <p class="f-1-0">บริษัท เมืองไทยประกันชีวิต จำกัด (มหาชน)</p>
                                            </td>
                                            <td>
                                                <p class="f-1-0">00002</p>
                                            </td>
                                            <td>
                                                <p class="f-1-0">835 ถนนมิตรภาพ ตำบลในเมือง อำเภอเมืองพิษณุโลก พิษณุโลก 65000</p>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-outline-primary aksorn f-1-0 btn-block">เลือก</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p class="f-1-0">0107555000406</p>
                                            </td>
                                            <td>
                                                <p class="f-1-0">001</p>
                                            </td>
                                            <td>
                                                <p class="f-1-0">บริษัท เมืองไทยประกันชีวิต จำกัด (มหาชน)</p>
                                            </td>
                                            <td>
                                                <p class="f-1-0">00002</p>
                                            </td>
                                            <td>
                                                <p class="f-1-0">835 ถนนมิตรภาพ ตำบลในเมือง อำเภอเมืองพิษณุโลก พิษณุโลก 65000</p>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-outline-primary aksorn f-1-0 btn-block">เลือก</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- Table End-->

                    </div>
                    <div class="col-lg-12  grid-margin stretch-card pb-0 pl-0 mb-0">
                        <nav>
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link" href="#"><i class="mdi mdi-chevron-left"></i></a></li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">4</a></li>
                                <li class="page-item"><a class="page-link" href="#"><i class="mdi mdi-chevron-right"></i></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Customer Ends -->
<!-- E-Tax Modal starts -->
<div class="modal fade" id="exampleModal-3" tabindex="-1" data-keyboard="false" role="dialog" aria-labelledby="exampleModalLabel-2" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-subtitle-full text-primary f-1-6 aksorn">
                    ค้นหาข้อมูลรายละเอียดธุรกิจ จากฐานข้อมูลกรมสรรพากร
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row-modal  mb-3">
                    <div class="col-lg-10 pl-0">
                        <div class="form-group row-modal text-left ">
                            <label for="exampleInputEmail2" class="col-sm-2 pl-0 col-form-label aksorn f-1-0">ค้นหา : </label>
                            <div class="col-sm-10 pl-0">
                                <input type="email" class="form-control" id="exampleInputEmail2" placeholder="พิมพ์รหัสลูกค้า , ชื่อลูกค้า , เลขประจำตัวผู้เสียภาษี ตัวอย่างเช่น 'We Develop หรือ 00177422145'">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 pl-0">
                        <button type="button" class="btn btn-outline-primary aksorn f-1-0 btn-block"><i class="fa fa-search f-0-8"></i>ค้นหา</button>
                    </div>
                </div>
                <div class="row-modal ">
                    <div class="col-lg-12  grid-margin stretch-card pl-0 ">
                        <!-- Table Start-->
                        <div class="card card-weaccount border-fix-table w-100 ">
                            <div class="card-table search-table-outter table-responsive h-500px">
                                <table class="table aksorn s-table">
                                    <thead class="badge-softblue">
                                        <tr>
                                            <th width="15%" class="aksorn f-1-0">เลขที่ผู้เสียภาษี</th>
                                            <th width="20%" class="aksorn f-1-0">ชื่อบริษัท</th>
                                            <th width="10%" class="aksorn f-1-0">สาขา</th>
                                            <th width="10%" class="aksorn f-1-0">เลขที่</th>
                                            <th width="20%" class="aksorn f-1-0">ที่อยู่</th>
                                            <th width="15%" class="aksorn f-1-0"></th>
                                        </tr>
                                    </thead>
                                    <tbody class="">
                                        <tr>
                                            <td>
                                                <p class="f-1-0">
                                                    0105533034471
                                                </p>
                                            </td>
                                            <td>
                                                <p class="f-1-0">บริษัท ไอ แอนด์ วี มาร์เก็ตติ้ง จำกัด</p>
                                            </td>
                                            <td>
                                                <p class="f-1-0">สำนักงานใหญ่</p>
                                            </td>
                                            <td>
                                                <p class="f-1-0">00000</p>
                                            </td>
                                            <td>
                                                <p class="f-1-0">79 ซอยวิภาวดีรังสิต 64 (มหานคร) ถนนวิภาวดีรังสิต ตำบลตลาดบางเขน อำเภอหลักสี่ กรุงเทพมหานคร 10210</p>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-outline-primary aksorn f-1-0 btn-block">เลือก</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p class="f-1-0">
                                                    0105533034471
                                                </p>
                                            </td>
                                            <td>
                                                <p class="f-1-0">บริษัท ไอ แอนด์ วี มาร์เก็ตติ้ง จำกัด</p>
                                            </td>
                                            <td>
                                                <p class="f-1-0">สำนักงานใหญ่</p>
                                            </td>
                                            <td>
                                                <p class="f-1-0">00000</p>
                                            </td>
                                            <td>
                                                <p class="f-1-0">79 ซอยวิภาวดีรังสิต 64 (มหานคร) ถนนวิภาวดีรังสิต ตำบลตลาดบางเขน อำเภอหลักสี่ กรุงเทพมหานคร 10210</p>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-outline-primary aksorn f-1-0 btn-block">เลือก</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p class="f-1-0">
                                                    0105533034471
                                                </p>
                                            </td>
                                            <td>
                                                <p class="f-1-0">บริษัท ไอ แอนด์ วี มาร์เก็ตติ้ง จำกัด</p>
                                            </td>
                                            <td>
                                                <p class="f-1-0">สำนักงานใหญ่</p>
                                            </td>
                                            <td>
                                                <p class="f-1-0">00000</p>
                                            </td>
                                            <td>
                                                <p class="f-1-0">79 ซอยวิภาวดีรังสิต 64 (มหานคร) ถนนวิภาวดีรังสิต ตำบลตลาดบางเขน อำเภอหลักสี่ กรุงเทพมหานคร 10210</p>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-outline-primary aksorn f-1-0 btn-block">เลือก</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- Table End-->

                    </div>
                    <div class="col-lg-12  grid-margin stretch-card pb-0 pl-0 mb-0">
                        <nav>
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link" href="#"><i class="mdi mdi-chevron-left"></i></a></li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">4</a></li>
                                <li class="page-item"><a class="page-link" href="#"><i class="mdi mdi-chevron-right"></i></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- E-Tax Modal Ends -->
<!-- Customer Add Start -->
<div class="modal fade" id="exampleModal-4" tabindex="-1" data-keyboard="false" role="dialog" aria-labelledby="exampleModalLabel-2" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-text" role="document">
        <div class="modal-content ">
            <div class="modal-header">
                <h5 class="modal-subtitle-full text-primary f-1-6 aksorn">
                    รายชื่อผู้ติดต่อ
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row text-left  pl-2">
                    <div class="col-lg-7 col-md-12 col-sm-12 col-12 pl-0">
                        <div class="row-modal">
                            <label for="exampleInputEmail2" class="col-sm-4 pl-0 col-form-label aksorn f-1-0">ประเภทผู้ติดต่อ: </label>
                            <div class="col-sm-7 pl-0">
                                <select class="form-control" id="exampleFormControlSelect2">
                                    <option>นิติบุคคล</option>
                                    <option>บุคคลธรรมดา</option>
                                </select>
                            </div>
                        </div>
                        <div class="row-modal">
                            <label for="exampleInputEmail2" class="col-sm-4 pl-0 col-form-label aksorn f-1-0">รหัสผู้ติดต่อ: </label>
                            <div class="col-sm-7 pl-0">
                                <input type="email" class="form-control" id="exampleInputEmail2" placeholder="">
                            </div>
                        </div>
                        <div class="row-modal">
                            <label for="exampleInputEmail2" class="col-sm-4 pl-0 col-form-label aksorn f-1-0">ชื่อธุรกิจ: </label>
                            <div class="col-sm-7 pl-0">
                                <input type="email" class="form-control" id="exampleInputEmail2" placeholder="">
                            </div>
                        </div>
                        <div class="row-modal">
                            <label for="exampleInputEmail2" class="col-sm-4 pl-0 col-form-label aksorn f-1-0">ที่อยู่: </label>
                            <div class="col-sm-7 pl-0">
                                <textarea rows="4" class="form-control form-textarea" id="exampleInputEmail2" placeholder=""></textarea>
                            </div>
                        </div>
                        <div class="row-modal">
                            <label for="exampleInputEmail2" class="col-sm-4 pl-0 col-form-label aksorn f-1-0">เลขผู้เสียภาษี:</label>
                            <div class="col-sm-7 pl-0">
                                <input type="email" class="form-control" id="exampleInputEmail2" placeholder="">
                            </div>
                        </div>
                        <div class="row-modal">
                            <label for="exampleInputEmail2" class="col-sm-4 pl-0 col-form-label aksorn f-1-0 mt-2">เลขผู้เสียภาษี:</label>
                            <div class="col-sm-4 pl-0">
                                <div class="form-radio aksorn">
                                    <label class="form-check-label f-1-0">
                                        <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios1" value="" checked="">
                                        สำนักงานใหญ่
                                        <i class="input-helper"></i>
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-3 pl-0">
                                <div class="form-radio aksorn">
                                    <label class="form-check-label f-1-0">
                                        <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios1" value="" checked="">
                                        สาขา
                                        <i class="input-helper"></i>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <h5 class="modal-subtitle-full text-primary pl-0 f-1-2 col-sm-12 aksorn">
                            รายละเอียดผู้ติดต่อ
                        </h5>
                        <div class="row-modal">
                            <label for="exampleInputEmail2" class="col-sm-4 pl-0 col-form-label aksorn f-1-0">ชื่อผู้ติดต่อ: </label>
                            <div class="col-sm-7 pl-0">
                                <input type="email" class="form-control" id="exampleInputEmail2" placeholder="">
                            </div>
                        </div>
                        <div class="row-modal">
                            <label for="exampleInputEmail2" class="col-sm-4 pl-0 col-form-label aksorn f-1-0">อีเมล:</label>
                            <div class="col-sm-7 pl-0">
                                <input type="email" class="form-control" id="exampleInputEmail2" placeholder="">
                            </div>
                        </div>
                        <div class="row-modal">
                            <label for="exampleInputEmail2" class="col-sm-4 pl-0 col-form-label aksorn f-1-0">เบอร์มือถือ: </label>
                            <div class="col-sm-7 pl-0">
                                <input type="email" class="form-control" id="exampleInputEmail2" placeholder="">
                            </div>
                        </div>
                        <h5 class="modal-subtitle-full text-primary pl-0 f-1-2 col-sm-12 aksorn">
                            ข้อมูลธนาคาร
                        </h5>
                        <div class="row-modal">
                            <label for="exampleInputEmail2" class="col-sm-4 pl-0 col-form-label aksorn f-1-0">ธนาคาร: </label>
                            <div class="col-sm-7 pl-0">
                                <select class="form-control" id="exampleFormControlSelect2">
                                    <option>--กรุณาเลือกธนาคราร--</option>
                                    <option>ธ.ไทยพานิช</option>
                                    <option>ธ.กสิกร</option>
                                    <option>ธ.กรุงไทย</option>
                                </select>
                            </div>
                        </div>
                        <div class="row-modal">
                            <label for="exampleInputEmail2" class="col-sm-4 pl-0 col-form-label aksorn f-1-0">เลขที่บัญชี:</label>
                            <div class="col-sm-7 pl-0">
                                <input type="email" class="form-control" id="exampleInputEmail2" placeholder="">
                            </div>
                        </div>
                        <div class="row-modal">
                            <label for="exampleInputEmail2" class="col-sm-4 pl-0 col-form-label aksorn f-1-0">สาขาธนาคาร: </label>
                            <div class="col-sm-7 pl-0">
                                <input type="email" class="form-control" id="exampleInputEmail2" placeholder="">
                            </div>
                        </div>
                        <div class="row-modal">
                            <label for="exampleInputEmail2" class="col-sm-4 pl-0 col-form-label aksorn f-1-0 mt-2">ประเภทบัญชี:</label>
                            <div class="col-sm-4 pl-0">
                                <div class="form-radio aksorn">
                                    <label class="form-check-label f-1-0">
                                        <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios1" value="" checked="">
                                        บัญชีออมทรัพย์
                                        <i class="input-helper"></i>
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-4 pl-0">
                                <div class="form-radio aksorn">
                                    <label class="form-check-label f-1-0">
                                        <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios1" value="" checked="">
                                        บัญชีกระแสรายวัน
                                        <i class="input-helper"></i>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5  col-md-12 col-sm-12 col-12 col-12 pl-0">
                        <div class="row-modal">
                            <label for="exampleInputEmail2" class="col-sm-4 pl-0 col-form-label aksorn f-1-0 mt-2">ประเภท : </label>
                            <div class="col-sm-4 pl-0">
                                <div class="form-check aksorn">
                                    <label class="form-check-label f-1-0">
                                        <input type="checkbox" class="form-check-input">
                                        ลูกค้า
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-4 pl-0">
                                <div class="form-check aksorn">
                                    <label class="form-check-label f-1-0">
                                        <input type="checkbox" class="form-check-input" checked>
                                        ผู้จำหน่าย
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row-modal">
                            <label for="exampleInputEmail2" class="col-sm-4 pl-0 col-form-label aksorn f-1-0">เครดิต(วัน): </label>
                            <div class="col-sm-8 pl-0">
                                <input type="email" class="form-control" id="exampleInputEmail2" placeholder="">
                            </div>
                        </div>
                        <div class="row-modal">
                            <label for="exampleInputEmail2" class="col-sm-4 pl-0 col-form-label aksorn f-1-0">เบอร์สำนักงาน: </label>
                            <div class="col-sm-8 pl-0">
                                <input type="email" class="form-control" id="exampleInputEmail2" placeholder="">
                            </div>
                        </div>
                        <div class="row-modal">
                            <label for="exampleInputEmail2" class="col-sm-4 pl-0 col-form-label aksorn f-1-0">เบอร์โทรสาร: </label>
                            <div class="col-sm-8 pl-0">
                                <input type="email" class="form-control" id="exampleInputEmail2" placeholder="">
                            </div>
                        </div>
                        <div class="row-modal">
                            <label for="exampleInputEmail2" class="col-sm-4 pl-0 col-form-label aksorn f-1-0">เว็บไซต์: </label>
                            <div class="col-sm-8 pl-0">
                                <input type="email" class="form-control" id="exampleInputEmail2" placeholder="">
                            </div>
                        </div>
                        <div class="row-modal">
                            <label for="exampleInputEmail2" class="col-sm-4 pl-0 col-form-label aksorn f-1-0">ที่อยู่สำหรับจัดส่ง: </label>
                            <div class="col-sm-8 pl-0">
                                <textarea rows="4" class="form-control form-textarea" id="exampleInputEmail2" placeholder=""></textarea>
                            </div>
                            <label for="exampleInputEmail2" class="col-sm-4 pl-0 col-form-label aksorn f-1-0">โน้ต: </label>
                            <div class="col-sm-8 pl-0">
                                <textarea rows="4" class="form-control form-textarea" id="exampleInputEmail2" placeholder=""></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-inverse-light btn-fw aksorn f-1-0" data-dismiss="modal" aria-label="Close">ยกเลิก</button>
                <button type="button" class="btn btn-success btn-fw aksorn f-1-0">บันทึก</button>
            </div>
        </div>
    </div>
</div>
<!-- Customer Add Ends -->