
@using System.Web.Optimization;
@{
    Random d = new Random();
    string random = d.Next(0, 9).ToString() + d.Next(0, 9).ToString() + d.Next(0, 9).ToString() + d.Next(0, 9).ToString() + d.Next(0, 9).ToString() + d.Next(0, 9).ToString();
}

@section RenderScriptWithPage
    {
    <script src="~/lib/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="~/js/controller/businesscontroller/businessprofilecontroller.js?nocache= + @random"></script>
    <script src="~/lib/dropify/dropify.min.js"></script>
    <script>

        (function ($) {
            'use strict';
            $('.dropify').dropify();
        })(jQuery);

    </script>
}
@*<button type="button" class="btn btn-inverse-success btn-fw" onclick="showWariningToast()">Warning notification</button>
    <button type="button" class="btn btn-inverse-success btn-fw" onclick="showSuccessToast()">Success notification</button>*@

<link href="~/lib/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" />
<title>ข้อมูลธุรกิจ | WeAccount</title>
<div class="row" ng-controller="businessprofilecontroller" data-ng-init="init()">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card card-weaccount">
            <div class="card-body ">
                <div class="row mb-3">
                    <div class="col-md-12 ">
                        <div class="d-flex">
                            <h4 class="f-1-6 aksorn">
                                ข้อมูลธุรกิจ
                            </h4>
                            <div class="h-25 ml-auto">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary px-4 aksorn f-1-0 px-3" ng-click="OnClickSave1()">บันทึกข้อมูล</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row pl-3 mb-2">
                    <label for="exampleInputEmail2" class="col-sm-2 pl-0 col-form-label aksorn f-1-0">ประเภทธุรกิจ: </label>
                    <div class="col-sm-5 col-12 col-lg-4 col-md-5 pl-0">
                        <select class="form-control" id="exampleFormControlSelect2">
                            <option>บริษัท</option>
                            <option>ห้างหุ้นส่วนจำกัด</option>
                            <option>บุคคลธรรมดา/ฟรีแลนซ์</option>
                        </select>
                    </div>
                </div>
                <div class="row pl-3 mb-2">
                    <label for="exampleInputEmail2" class="col-sm-2 pl-0 col-form-label aksorn f-1-0">จดภาษีมูลค่าเพิ่ม: </label>
                    <div class="col-sm-5 col-12 col-lg-4 col-md-5 pl-0">
                        <select class="form-control" id="exampleFormControlSelect2">
                            <option>จดภาษีมูลค่าเพิ่มแล้ว</option>
                            <option>ยังไม่เข้าระบบภาษีมูลค่าเพิ่ม</option>
                        </select>
                    </div>
                </div>
                <div class="row pl-3">
                    <div class="col-md-6 pl-0">
                        <hr class="hr-subtitle" />
                    </div>
                </div>
                <div class="row pl-3 pb-0">
                    <label for="exampleInputEmail2" class="col-sm-12 pl-0 pb-0 col-form-label aksorn-Bold f-1-0">รายละเอียดธุรกิจ </label>
                </div>
                <div class="row pl-3 mb-2 mt-0 pt-0">
                    <label for="exampleInputEmail2" class="col-sm-12 pl-0 col-form-label aksorn f-1-0">ข้อมูลใช้สำหรับการออกเอกสาร </label>
                </div>
                <div class="row pl-3 pb-0">
                    <label for="exampleInputEmail2" class="col-sm-2 pl-0  pb-0 col-form-label aksorn f-1-0">
                        ชื่อธุรกิจ: <i class="ti-info-alt f-1-0 ml-2 text-primary" data-html="true" data-toggle="popover"  title="ตัวอย่างในการกรอกชื่อธุรกิจ" data-content="• หากเป็นประเภทบริษัท: บริษัท โฟลว์แอคเคาท์ จำกัด หรือ บจก. โฟลว์แอคเคาท์
<br />• หากเป็นประเภทห้างหุ้นส่วน: ห้างหุ้นส่วนจำกัด โฟลว์แอคเคาท์ หรือ หจก. โฟลว์แอคเคาท์" data-custom-class="popover-primary"></i>
                    </label>
                    <div class="col-sm-5 col-12 col-lg-4 col-md-5 pl-0">
                        <input type="email" class="form-control" id="exampleInputEmail2" ng-model="BusinessProfile.BusinessName" placeholder="ตัวอย่างการกรอก : บริษัท วีดีเวล็อป จำกัด">
                    </div>
                </div>
                <div class="row pl-3">
                    <label for="exampleInputEmail2" class="col-sm-2 pb-0 pl-0 col-form-label aksorn f-1-0">ที่อยู่: </label>
                    <div class="col-sm-5 col-12 col-lg-4 col-md-5 pl-0">
                        <textarea rows="4" class="form-control form-textarea" id="exampleInputEmail2" placeholder="รายละเอียดที่อยู่"  ng-model="BusinessProfile.Address"></textarea>
                    </div>
                </div>
                <div class="row pl-3">
                    <label for="exampleInputEmail2" class="col-sm-2 pb-0 pl-0 col-form-label aksorn f-1-0">เลขประจำตัวผู้เสียภาษี: </label>
                    <div class="col-sm-5 col-12 col-lg-4 col-md-5 pl-0">
                        <input type="email" class="form-control" id="exampleInputEmail2" placeholder=""  ng-model="BusinessProfile.TaxID">
                    </div>
                </div>
                <div class="row pl-3">
                    <label for="exampleInputEmail2" class="col-sm-2 pl-0 col-form-label aksorn f-1-0 mt-2">สำนักงาน/สาขา:</label>
                    <div class="col-sm-2 pl-0">
                        <div class="form-radio aksorn">
                            <label class="form-check-label f-1-0">
                                <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios1" value="" checked="">
                                สำนักงานใหญ่
                                <i class="input-helper"></i>
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-2 pl-0">
                        <div class="form-radio aksorn">
                            <label class="form-check-label f-1-0">
                                <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios1" value="">
                                สาขา
                                <i class="input-helper"></i>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row pl-3">
                    <div class="col-md-6 pl-0">
                        <hr class="hr-subtitle" />
                    </div>
                </div>
                <div class="row pl-3 pb-0">
                    <label for="exampleInputEmail2" class="col-sm-12 pl-0 pb-0 col-form-label aksorn-Bold f-1-0">ข้อมูลติดต่อ </label>
                </div>
                <div class="row pl-3 mb-2 mt-0 pt-0">
                    <label for="exampleInputEmail2" class="col-sm-12 pl-0 col-form-label aksorn f-1-0">ข้อมูลใช้สำหรับการออกเอกสาร </label>
                </div>
                <div class="row pl-3 mb-2">
                    <label for="exampleInputEmail2" class="col-sm-2 pb-0 pl-0 col-form-label aksorn f-1-0">เบอร์สำนักงาน: </label>
                    <div class="col-sm-5 col-12 col-lg-4 col-md-5 pl-0">
                        <input type="email" class="form-control" id="exampleInputEmail2" placeholder="">
                    </div>
                </div>
                <div class="row pl-3 mb-2">
                    <label for="exampleInputEmail2" class="col-sm-2 pb-0 pl-0 col-form-label aksorn f-1-0">เบอร์มือถือ: </label>
                    <div class="col-sm-5 col-12 col-lg-4 col-md-5 pl-0">
                        <input type="email" class="form-control" id="exampleInputEmail2" placeholder="">
                    </div>
                </div>
                <div class="row pl-3 mb-2">
                    <label for="exampleInputEmail2" class="col-sm-2 pb-0 pl-0 col-form-label aksorn f-1-0">เบอร์โทรสาร:</label>
                    <div class="col-sm-5 col-12 col-lg-4 col-md-5 pl-0">
                        <input type="email" class="form-control" id="exampleInputEmail2" placeholder="">
                    </div>
                </div>
                <div class="row pl-3 mb-2">
                    <label for="exampleInputEmail2" class="col-sm-2 pb-0 pl-0 col-form-label aksorn f-1-0">เว็บไซต์: </label>
                    <div class="col-sm-5 col-12 col-lg-4 col-md-5 pl-0">
                        <input type="email" class="form-control" id="exampleInputEmail2" placeholder="">
                    </div>
                </div>
                <div class="row pl-3">
                    <div class="col-md-6 pl-0">
                        <hr class="hr-subtitle" />
                    </div>
                </div>
                <div class="row pl-3 pb-0">
                    <label for="exampleInputEmail2" class="col-sm-12 pl-0 pb-0 col-form-label aksorn-Bold f-1-0">โลโก้และตรายาง </label>
                </div>
                <div class="row pl-3">
                    <label for="exampleInputEmail2" class="col-sm-2 pl-0 pb-0 col-form-label aksorn f-1-0">แนบไฟล์: </label>
                    <div class="col-sm-5 col-12 col-lg-4 col-md-5 pl-0">
                        <input type="file" class="dropify " />
                    </div>
                </div>
                <div class="row pl-3 mb-2">
                    <label for="exampleInputEmail2" class="col-sm-2 pl-0 col-form-label aksorn f-1-0"></label>
                    <div class="col-sm-5 col-12 col-lg-4 col-md-5 pl-0">
                        <label for="exampleInputEmail2" class="col-sm-12 text-muted pl-0 col-form-label aksorn f-0-8">*ขนาดภาพที่แนะนำ 1,400*300 px และขนาดไม่เกิน 3MB</label>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>