.icon-black {
    color:#000 !important;
}

@font-face {
    font-family: 'Aksorn';
    src: url('../fonts/AksornBold_0_wt.eot');
    src: url('../fonts/AksornBold_0_wt.eot?#iefix') format('embedded-opentype'), url('../fonts/AksornBold_0_wt.woff2') format('woff2'), url('../fonts/AksornBold_0_wt.woff') format('woff'), url('../fonts/AksornBold_0_wt.ttf') format('truetype'), url('AksornBold_0_wt.svg#AksornBold_0_wt') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Aksorn';
    src: url('../fonts/AksornRegular.eot');
    src: url('../fonts/AksornRegular.eot?#iefix') format('embedded-opentype'), url('../fonts/AksornRegular.woff2') format('woff2'), url('../fonts/AksornRegular.woff') format('woff'),
        url('../fonts/AksornRegular.ttf') format('truetype'), url('AksornRegular.svg#AksornRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}


.aksorn-Bold {
    font-family: 'Aksorn' !important;
    font-weight: bold;
    font-size: 1.4rem;
}

.aksorn {
    font-family: 'Aksorn' !important;
    font-size: 1.4rem;
}

.cursor-pointer {
    cursor: pointer !important;
}

.f-0-6 {
    font-size: 0.6rem !important;
}

.f-0-8 {
    font-size: 0.8rem !important;
}

.f-1-0 {
    font-size: 1.0rem !important;
}

.f-1-2 {
    font-size: 1.2rem !important;
}

.f-1-4 {
    font-size: 1.4rem !important;
}

.f-1-6 {
    font-size: 1.6rem !important;
}

.f-1-8 {
    font-size: 1.8rem !important;
}

.f-2-0 {
    font-size: 2.0rem !important;
}

.f-2-2 {
    font-size: 2.2rem !important;
}

.logo-auth {
    height: 60px;
    text-align:center !important;
}

.title-page {
    font-family: 'Aksorn';
    font-size: 1.6rem;
    margin: 0px 0px 30px 20px;
}

.title-page-1 {
    font-family: 'Aksorn';
    font-size: 1.6rem;
    margin: 0px 0px 10px 20px;
}

.card-weaccount {
    border: 1px solid #e8eaef;
    box-shadow: 0 3px 10px 0 rgba(0,0,0,.1);
    border-radius: 10px;
}
.bg-softblue {
    background: #eaf8fd;
}
.bg-softred {
    background: #fff2f8;
}
.badge-softyeelow {
    color: #fea000 !important;
    background: rgba(255,207,85,.2) !important;
}
.badge-softgray {
    color: #434a54;
    background: rgba(170,178,189,.15);
}
.badge-softblue {
    color: #2898cb;
    background: rgba(79,192,232,.15);
}
.badge-softgreen {
    color: #4cb050;
    background: rgba(136,196,38,.15);
}
.badge-softred {
    color: #ed5564;
    background: rgba(237,85,100,.1);
}
